body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
   /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  width: 25%; 
  float: left;
  padding: 0 10px;
  margin-bottom: 50px;
}

.cardRow {margin: 0 -5px;}

/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

.container {
  padding: 2px 16px;
}

.cardImage {
  border-radius: 25px;
}

.strainTitle {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: left;
}

.strainInfo {
  margin-top: 0px;
  text-align: left;
  margin-bottom: 10px;
}

.imageContainer {
  position: relative;
  width: 50%;
}

/* .imageContainer img {
  width: 100%;
  height: auto;
} */

.imageContainer button {
  position: absolute;
  top: 15%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  font-size: 20px;
  padding-left: 12px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 10px;
}

.NavBar ul li {
  display: inline;
  margin: 30px;
}

.cardRow {
  margin: auto;
  padding-left: 17%;
  width: 90%;
  text-align: center;
}
